html, body {
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; }

.container {
  display: block;
  margin: auto;
  width: 90%; }

.row {
  position: relative;
  width: 100%; }
  .row [class^="col"] {
    float: left;
    margin: 0.5rem 2%;
    min-height: 0.125rem; }

.row::after {
  content: "";
  display: table;
  clear: both; }

@media only screen and (min-width: 540px) {
  .container {
    width: 80%; } }
@media only screen and (min-width: 720px) {
  .col-1 {
    width: 4.33%; }

  .col-2 {
    width: 12.66%; }

  .col-3 {
    width: 18.5%; }

  .col-4 {
    width: 29.33%; }

  .col-5 {
    width: 37.66%; }

  .col-6 {
    width: 46%; }

  .col-7 {
    width: 54.33%; }

  .col-8 {
    width: 62.66%; }

  .col-9 {
    width: 71%; }

  .col-10 {
    width: 79.33%; }

  .col-11 {
    width: 87.66%; }

  .col-12 {
    width: 96%; }

  .hidden-sm {
    display: block; } }
@media only screen and (min-width: 1344px) {
  .container {
    width: 85%;
    min-width: 1110px; } }
@media only screen and (min-width: 600px) and (max-width: 1344px) {
  .container {
    width: 80%; }

  .col-3 {
    width: 40%; } }
@media only screen and (max-width: 600px) {
  .container {
    width: 75%; }

  .row [class^="col"] {
    margin: 1.5rem 0;
    float: left;
    min-height: 0.125rem; } }
@font-face {
  font-family: "proxima-nova-soft";
  src: url("../fonts/proxima-nova-soft.woff"); }
body {
  font-family: "proxima-nova-soft", sans-serif; }

h1 {
  font-size: 2em;
  padding: 1em 0;
  text-align: center; }

h3 {
  font-size: 2.5em;
  line-height: 1.3em; }

article {
  font-size: 14px;
  box-shadow: 0px 0px 35px -2px #8f8f8f;
  padding: 1em;
  line-height: 1.8em; }
  article > figure {
    background: url("../images/bg-new-york.jpeg") -10px -10px no-repeat;
    background-size: 110% 260px;
    display: block;
    height: 9em;
    margin: -1em -1em 1.5em -1em;
    position: relative; }

figure div.photo {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  background-color: #E54D42;
  color: white;
  padding: 0.3em 1.5em 0.3em 1em;
  width: 50px; }
figure div.bubble {
  position: absolute;
  top: 15px;
  right: 15px;
  font-weight: bold;
  background-color: #E54D42;
  padding: 1em;
  border-radius: 50%;
  width: 30px;
  height: 30px; }
  figure div.bubble p {
    position: relative;
    top: -6px;
    color: white;
    line-height: 1px;
    text-align: center; }

p span {
  display: inline-block;
  margin-right: 15px; }

.listing-card-subtitle {
  font-size: 16px;
  font-weight: bold;
  color: #E54D42; }

.comment-section {
  color: gray; }

.main-body {
  padding: 3em 0; }
